<h1><%= @user.name %> 's activities</h1>
<ul>
  <% @user.activities.each do |activity| %>
    <li data-id="<%= activity.id %>">
      <%= activity.name %>
      <a href="/activities/<%= activity.id %>/destroy">[x]</a>
    </li>
  <% end %>
</ul>
<form action="/activities/create" method="post">
  <%= csrf_tag %>
  <select id="name" name="name">
    <% @categories.each do |category| %>
      <optgroup label="<%= category.name %>">
        <% category.menus.each do |menu| %>
          <option value="<%= menu.name %>"><%= menu.name %></option>
        <% end %>
      </optgroup>
    <% end %>
  </select>
  <input type="submit" value="Record activity">
</form>
